/*  
Author: Webeing
Author URI: http://www.webeing.net
*/

/*-----------------------------*/
/* 1. GENERIC STYLE */
/*-----------------------------*/
body{background:#dcdcdc url(images/bk-body.png) repeat-x left top;}
body.home{ background-image:url(images/bk-home.png);}
a:hover{ color:#06478c;}
#top-menu span.evidence{ background:transparent url(images/btn-network.png) no-repeat left 50%; }
ul#network li a{ border:#3e3e3e solid 1px; }
ul#network li a:hover{background-color:#e8e8e9; border-color:#06478c;} 
#nav-bar ul{ background: transparent url(images/border-nav.png) no-repeat left 50%; }
#nav-bar ul li{ background: transparent url(images/border-nav.png) no-repeat right 50%; }
#nav-bar ul li a{color:#f9f0ef; text-shadow:-1px 0px 1px #444; background-image:none;}
#nav-bar ul li a:hover,#nav-bar ul li.active a, #nav-bar ul li:hover a{background:transparent url(images/bk-hover-nav.png) repeat-x left 50%;}
#nav-bar ul li.active ul li a{ background-image:none;}
#nav-bar ul li ul{background: transparent url(images/border-sub-nav.png) no-repeat left 50%;}
#nav-bar ul li ul li{background:transparent url(images/bk-sub-nav.png) no-repeat right 50%;}
#nav-bar ul li ul li a{color:#466cba; text-shadow:-1px 0px 0.07em #ccc; background-image:none; }
#nav-bar ul li:hover ul li a{background-image:none;}
#nav-bar ul li ul li a:hover{ color:#06478c; background-image:none;}
#logo a{ background:transparent url(images/logo.png) no-repeat left top;}
#posts img, #carousel img, #sidebar img, #gallery img, #login img{ border:#06478c solid 2px;}
/*#sidebar h3.title{ background:transparent url(images/title-sidebar.png) no-repeat left top; }
*/.block-side .slide{border:#e5e5e5 solid; border-width:0 1px; }
.block-side .slide{background:transparent url(images/bk-inner-side.png) repeat-y center top;}
.block-side li{border-bottom:#e5e5e5 solid 1px;}
#block-views-comunity li a.user{ color:#000000; }
ul#nav-footer li a{color:#3e3e3e;}
ul#nav-footer li a:hover{color:#06478c;}
.tags a{ border:#e2e2e2 solid 1px; }
.btn, .form-submit{ background:transparent url(images/bk-nav.png) repeat-x left 50%; border:#5f7ebf solid 1px;}
.btn:hover{ background-image:url(images/bk-hover-nav.png);}
/* 1.1 Home */
#carousel ul{ background:transparent url(images/border-carousel.png) no-repeat left 50%;}
#carousel ul li{ background:transparent url(images/border-carousel.png) no-repeat right 50%; }
#carousel a.prev{ background:transparent url(images/prev.png) no-repeat center center;}
#carousel a.next{ background:transparent url(images/next.png) no-repeat center center;}
#carousel h4 a{ color:#06478c;}
#carousel h4 a:hover{ color:#2a2a2a;}
/*#posts h3.title{ background:transparent url(images/title-col-post.png) no-repeat left top; }
*/.home #posts .article, #posts .article { background:transparent url(images/bk-post.png) repeat-y left top; border-bottom:#ebeaeb solid 1px;}
.foot-user #paging a{ background-image:none; font-size:12px; color:#999999; border:#06478c solid 1px; background-color:#f8f8f8; padding:2px 5px 7px;}
.foot-user #paging a.activeSlide{ background-image:none; color:#fff; background-color:#06478c;}
#last-forum .inner{ background:transparent url(images/bk-body-last-forum.png) repeat-y left top;} 
/*#last-forum h3.title{ background:transparent url(images/title-last-forum.png) no-repeat left top; }*/
.inner li{ background:transparent url(images/item.png) no-repeat left 10px; border-bottom:#ebeaeb solid 1px;} 
.inner h4 a{ color:#06478c; border-bottom:#f1f1f1 solid 1px;}
.inner h4 a:hove{border-color:#4d4d4d;}
.inner span{ color:#7f7f7f;}
/*#guide h3.title{ background:transparent url(images/title-guide.png) no-repeat left top; }
*/#guide .inner{ background:transparent url(images/body-guide.png) repeat-y left top;}
.foot-link li a.active, .foot-link li.active a{border:1px solid #06478c;background:transparent url(images/bk-hover-nav.png) repeat-x scroll left 50%;}


/* 2.1 Single */
#posts .comment{color:#6a6a6a;}
#edit-mail-wrapper .description, .comment-form-content .tips{ color:#999999;}
.comment-form-content a{color:#06478c;}
.comment-form-content input, .comment-form-content textarea, input, textarea{ color:#6a6a6a; border:#ebeaeb solid 1px; background-color:#f8f8f8;}
.comment-form-content input.form-submit{color:#FFFFFF;}
.comment-form-content .form-submit:hover{ background:transparent url(images/bk-hover-nav.png) repeat-x scroll left 50%;}

/* 3.1 User */
#user-log{ border-color:#eeeeee;}
.user #paging a{ background-image:none; background-color:#f3f3f3;}
#nav-user li{border-bottom:#e4e4e4 solid 1px;}
#nav-user li a span{ color:#FFFFFF; background:transparent url(images/count-user.png) no-repeat center center;}
#nav-user li a:hover, #nav-user li a.active{ background:transparent url(images/bk-nav-user-hover.png) repeat-x left bottom; color:#525252;}
#nav-user li a:hover span, #nav-user li a.active span{ background-image:url(images/count-user-hover.png);}

/* 4.1 Forum */
#posts #forum th{text-shadow:-1px 0 0.07em #ccc; background: transparent url(images/bk-forum-th.png) repeat-x left bottom; color:#06478c;}
#posts #forum .container div.name a{color:#f8f8f8; text-shadow:-1px 0 0.07em #444; }
#posts #forum td.container {border-bottom:medium none; background-color:#9bb3e3;}
#posts #forum-statistics-header{text-shadow:-1px 0 0.07em #487918; background: transparent url(images/bk-forum-th.png) repeat-x left bottom; }
#posts .forum-statistics-sub-header{background: transparent url(images/bk-forum-th.png) repeat-x left bottom;}
#posts #forum-statistics-active-body{background-image:none;}

#posts #forum tr.even {background-color:#FFFFFF;}
#posts #forum tr.even, #posts #forum tr.odd {border-color:#F6F5ED; border-style:solid; border-width:1px 0;}
#posts #forum tr.odd {background-color:#FBFAF7;}


/*CLASS */
.add{ background:transparent url(images/add.png) no-repeat left top;}
.more{background:transparent url(images/btn-more.png) no-repeat left top;}
.more:hover{ color:#edcfcc;}
.category, a.category{color:#06478c;}
a.btn-radius{background:transparent url(images/btn-friends-left.png) no-repeat left top;}
a.btn-radius span{background:transparent url(images/btn-friends-right.png) no-repeat right top;}
.btn-slide, .close{background:transparent url(images/btn-slide.png) no-repeat left top;}
.close{ background-image:url(images/btn-close.png);}

